.login-sec{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background: linear-gradient(90deg, #1cb5e040 0%, #00085142 100%) no-repeat ;
    font-family: Poppins-Bold;
    .login-form-sec{
        width: 500px;
        border-radius: 10px;
        overflow: hidden;
        // background: #fff 0% 0% no-repeat padding-box;
        background: linear-gradient(90deg, #1cb5e040 0%, #00085142 100%) no-repeat;
        box-shadow: 0 2px 11px 0 rgba(0,0,0,.1);
        max-height: 100%;
        min-height: 98%;
        .login-form-title{
            display: block;
            font-size: 39px;
            color: #f0e1e1;
            line-height: 1.2;
            text-align: center;
            margin: 0.5em 0 1em 0;
        }
        .form-label{  
            font-family: Poppins-Regular;
            font-size: 16px;
            color: #333;
            line-height: 1.5;
            padding-left: 7px;
        }
        .m-b-8{
            margin-bottom: 8px;
        }
        .forgot-pass{
            width: 86%;
            text-align: right;
            margin-top: 12px;
            margin-top: 0;
            margin-bottom: 1em;
            a{
                color: var(--bs-link-color);
                cursor: pointer;
            }
        }
        .form-input{
            font-family: Poppins-Medium;
            font-size: 16px;
            color: #333;
            line-height: 1.2;
            display: block;
            background: 0 0;
        }
        .form-sec{
            width: 100%;
            position: relative;
        }
        .mat-form-field-sec{
            width: 70%;
            margin: 0 5.5em;
        }
        .error-msg{
            width: 70%;
            margin: 0 6em;
            p{
                color: #ce1212;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .social-item{
            font-size: 25px;
            color: #fff;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 5px;
            text-decoration: none;
        }
        .text-sec{
            text-align: center;
            margin-top: 2em;
            font-size: 16px;
            line-height: 1.2;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
            margin-left: 0.75em;
            padding: 0.75em 0 .75em 0 !important;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
            background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
            border: none;
        }
        .form-btn{
            button{
                width: 70%;
                border-radius: 2em;
                background: linear-gradient(90deg, #1cb5e040 0%, #00085142 100%) no-repeat;
                color: #333;
            }
            button:disabled{
                background: #79797952;
                color:#FFFFFF;
                cursor: not-allowed;
            }
            button:hover span:after {
                opacity: 1;
              }
              button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -15px;
                transition: 0.5s;
              }
              button:disabled span{
                cursor: not-allowed;
              }

              button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
              }
        }
    }
}

.m-b-0{
    margin-bottom: 0 !important;
}

.icon-color{
    color: #095292ed;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333;
    font-size: 11px;
    opacity: 1; /* Firefox */
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
    font-size: 11px;
    font-size: 15px;
}

.bg1{
    background-color:#3b5998;
}
.bg2{
    background-color:#1da1f2;
}
.bg3{
    background-color:#ea4335;
}
.m-t-1{
    margin-top: 1em;
}

.o-primary-button {
    display: inline-block;
    background-color: #000;
    padding: 13px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    min-width: 150px;
    text-align: center;
    min-height: 48px;
    user-select: none;
    &:focus-visible {
      outline: 1px dashed #000 !important;
      outline-offset: 1px;
    }
    &:hover,
    &:focus {
      outline: none;
      color: #fff;
      background-color: #460073;
      transition: all 400ms cubic-bezier(0.19,1,0.22,1);
    }
    &.-disabled {
      background-color: #ccc;
      pointer-events: none;
    }
    &.-small {
      padding: 10px 16px;
      height: 38px;
      min-width: 108px;
      line-height: 16px;
      font-size: 14px;
      min-height: 38px;
    }
  }

.login-sec-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .category-btn {
        width: 50%;
        margin-top: 0.75em;
        text-decoration: none;
        border-radius: 2em;
    }
}

.fc{
  color:  #f0e1e1;
}

.registration-form {
    display: grid;
    // -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    padding: 8px;

    .registration-form-group .-first-col {
        -ms-grid-column-span: 1;
        -ms-grid-column: 1;
        grid-column: 1/span 1;
    }

    .registration-form-group .-second-col {
        -ms-grid-column-span: 1;
        -ms-grid-column: 2;
        grid-column: 2/span 1;
    }

    .registration-form-label {
        font-size: 14px;
        color: #282828;
        margin: 0;
    }

    .o-input__input {
        border: 1px solid #ccc;
        color: #000;
        font-size: 14px;
        height: 48px;
        width: 100%;
        padding: 16px 17px;
        text-align: left;
    }

    .input-div {
        margin-top: 10px;
    }
    .c-select-wrapper {
        display: block;
        position: relative;
    }

    .c-select {
        width: 100%;
        background-color: #fff;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        border-radius: 6px;
        position: relative;
        font-weight: 400;
    }

    .placeholder-color{
        color: #ccc!important;
    }

    .c-select__selected-text {
        font-size: 14px;
        padding: 0 15px;
        height: 48px;
        color: #ccc;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
    }

    .c-select__selected-text.-input {
        color: #000;
    }

    .c-select__options-list {
        display: none;
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
        position: absolute;
        width: 100%;
        max-height: 145px;
        overflow-y: scroll;
    }

    .c-select__option {
        padding: 15px 25px;
        color: #000;
        font-size: 12px;
        cursor: pointer;
    }
    .c-select__options-list.-active {
        display: block;
        z-index: 3;
    }

    .c-select__options-list::-webkit-scrollbar-track {
        background: 0 0;
        border-radius: 16px;
    }
    
    .c-select__options-list::-webkit-scrollbar-track {
        background: 0 0;
        border-radius: 16px;
    }

    .c-select__option:hover {
        background-color: #f5f5f5;
        color: #460073;
        transition: all 400ms cubic-bezier(.19,1,.22,1);
    }

    .icon-arrow{
        font-size: 14px;
    position: absolute;
    right: 20px;
    color: #5c5959fa;
    }
}

.mt-10{
    margin-top: 10px;
}

.register-btn{
    width: 99%;
    text-decoration: none;
    margin-top: 2em;
    border-radius: 2em;
    cursor: pointer;
}

.mr-2{
    margin-right: 2.5em;
    font-size: 2em;
    opacity: 0.55;
}

.fs-34{
    font-size: 34px;
}

.error{
    color: #c30f0f;
    margin-top: 6px;
    font-size: 13px;
    p{
        margin-bottom: 0;
    }
}

.password-input {
    position: relative;
  }
  
  .password-input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  