.c-success-modal{
    img{
        height: 48px;
        width: 48px;
    }
    .suc-msg{
        font-size: 16px;
        margin-left: 1em;
        margin-top: 0.75em;
    }
    
    .content-p{
        align-items: center;
        text-align: center;
        gap: 6px;
    }
}
.min-ht{
    min-height: 220px;
}

.close-icon{
    float: right;
    cursor: pointer;
    color: #000;
    font-size: 16px;
}
